h1, h2, h3
{
    text-align:center;
    font-family:umb10;
}
h1
{
    color:rgb(47,82,105);
    text-shadow:10px 6px 1px #eef;
}
header
{
    border-bottom-color:Gray;
    border-bottom-style:dashed;
    border-bottom-width:2px;
}
li
{
    font-family:Cambria Math;
    font-size:1.2em;
    font-weight:400;
}
li+li
{
    padding-top:10px;
}
.texto
{
    background-color:rgba(211, 239, 127,0.8);
    float:left;
    border-radius:30px;
}
article a
{
    display:block;
    width:240px;
    background-color:rgba(0,0,255,0.65);
    color:White;
    text-align:center;
    border: 2px solid;
    line-height: 2em;
    text-decoration:none;
    font-family:umb10;
    border-radius:5px;
    clear:left;
    font-size:x-large;
}
footer a
{
    float:right;
    padding-top:10px;
    color:Black;
}
body
{
    background-image:url("esmerilado.jpg");
    background-color:Beige;
}
@media (min-width: 1001px)           /* para patallas con resoluciones superiores a 1000px de ancho*/
{
    div
    {
        width:50%;
        float:left;
        
    }
    img
    {
        width:100%;
    }
}
@media (min-width: 733px) and (max-width: 1000px)       /* para patallas con resoluciones superiores a 733 e inferiores a 1000px de ancho*/
{
    h3
    {
        clear:left;
    }
}
@media (max-width: 732px) /* para patallas con resoluciones inferiores a 733px de ancho*/
{
    img
    {
        width:100%;
    }
}